body {
    font-size: 16px;
	margin: 0px auto;
	max-width: 1024px;
}

header nav ul li {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	margin-right: 30px;
	padding-right: 0px;
}

header nav ul li input[type="search"] {
	vertical-align: top;
	text-align: right;
	height: 30px;
	width: 120px;
}

header nav ul li img {
	width: 800px;
	padding-right: 0px;
}

#seccion01 {
	width: 100%;
	height: 40%;
	background-color: black;
}

#seccion01 article {
	margin-right: 0px;
	display: inline-block;
    vertical-align: middle;
    width: 19.5%;
}

#seccion02 article{
	display: inline-block;
}

#seccion01 article img {
    width: 90%;
}

#seccion02 article {
    width: 32%;
}

#seccion02 article img {
    width: 80%;
}

#primerArticulo {
    width: 18%;
}

#primerArticulo ul li {
    color: white;
    list-style-type: none;
}

#segundoArticulo {
    width: 18%;
    background-color: green;
    color: white;
}

#tercerArticulo {
	background-color: gray;
	color: white;
}

#cuartoArticulo {
	background-color: red;
	color: white;
	height: 144px;
}

#quintoArticulo {
	background-color: gray;
	color: white;
}

#trade {
	text-align: right;
}

.letraGrande {
    color: white;
    size: 20px;
}